
.container{
    position: relative;
    width: 100%;
    box-shadow: 0 5px 10px rgb(12, 98, 145);
}

.container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}




.container #change:checked ~ .cover{
    transform: rotateY(-180deg);
}

.cover .login, .cover .register {
    backface-visibility: hidden;
}


.container .cover .login,
.container .cover .register{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}





.cover .register{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.container .cover::before,
.container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a63446;
    opacity: 0.4;
    z-index: 12;
}
.container .cover::after{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}





.content .login_form,
.content .signup_form{
    width: calc(100% / 2 - 25px);
}



.loginregister_form .content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}



.content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}



