

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* BASKET PAGE STYLES */
.basket-container {
    max-width: 800px;
    margin: 180px auto 20px; /* Add space at the top for the fixed navbar */
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(44, 40, 40, 0.1);
}

.basket-heading h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    
}

.basket-item-heading {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.basket-item-detail {
    flex: 1;
    text-align: center;
}

.total-price {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

form {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 10px;
    background-color: #131c13;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer {
    background: #dcdbdb;
    color: #040404;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Added left: 0 to stretch across the entire width */
}
